/* ----- Tema Escuro ----- */
[data-theme="dark"] {
  --color-background-1: #101010;
  --color-background-2: #202020;
  --color-background-3: #070605;
  --color-background-4: #ffffff;
  --color-background-5: #eeeeee;
  --color-background-6: #fdfaf6;
  --color-title: #ffffff;
  --color-text: #eeeeee;
}
